
/* Global styles 
---------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color:#343434;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;   
}
a {
    color: rgb(153, 178, 202);
}
a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 h2 {
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 70px; /* was 60, tutorial said 100*/ 
    line-height: 1;
    font-style: italic;
    text-shadow: 
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
    
}
h2 {
   font-size: 40px;
}
.content-wrap {
    width: 700px;
    margin: 0 auto;
    padding: 60px 0;
}
/*h3 {
    margin-bottom: 0;
}*/
/*.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}*/

/* Navigation
-----------------*/
nav {
    background-color: rgb(160, 176, 190);
    padding: 0.7%;
}
nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
}
nav a{
    text-decoration: none;
    color: #fff; 
    padding: 10px 15px;
    font: bold 15px/17px 'Montserrat', sans-serif;
}
nav a:hover {
   background:rgb(37, 53, 68);
}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li ul {
    left: -999999px;
    position: absolute; 
    top: 1.9em;
    padding: 0;
    width: 200%;
    text-align: left;
}
nav ul li ul a {
    background-color: rgb(160, 176, 190);
    width: 17em;
    display: block;
    border: 0.5px white solid;
}
nav li:hover ul {
    left: 0px;
}
 ul li ul li a:hover {
   background:rgb(37, 53, 68);
 }
/* Profile 
---------------------*/

header {
    background: #3A556D;
    color: #F7FFF7;
    text-align: center;
}

/* Projects
---------------------*/
.projects {
    background: #ebeef1;
}
.projects a {
    color:  #3A556D;
}
.projects .btn {
    color: #F7FFF7;
    background: #3A556D;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.projects .btn:hover {
    background: rgba(58, 85, 109, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px solid #3A556D;
    padding: 25px 0;
}
.project-item img {
    float: right; 
    margin-left: 20px; 
}
.project-item h3 {
    margin-top: 0;
}

/* Work experience
---------------------*/
.work-experience {
   background:rgb(160, 176, 190);
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education
---------------------*/

/* Contact info
---------------------*/
footer {
    /* background:rgb(29, 42, 54); */
    background:rgb(37, 53, 68);
    color: #ffffff;
    border-top: 4px solid #000000;
    text-align: center;
}
footer h2 {
    text-align: center;
}
footer ul {
    list-style: none;
    text-align: center;
}
/*footer ul li {
    display: inline-block;
    padding-right: 10px;
}*/
footer a {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}
